<th:block th:fragment="scripts">
    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Feather Icon JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Slimscroll JS -->
    <script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>

    <!-- Chart JS -->
    <script th:src="@{/vendor/apexchart/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/apexchart/chart-data.js}"></script>

    <!-- Chart JS -->
    <script th:src="@{/vendor/chartjs/chart.min.js}"></script>
    <script th:src="@{/vendor/chartjs/chart-data.js}"></script>

    <!-- Datetimepicker JS -->
    <script th:src="@{/assets/js/moment.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>

    <!-- Daterangepikcer JS -->
    <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>

    <!-- Summernote JS -->
    <script th:src="@{/vendor/summernote/summernote-lite.min.js}"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script th:src="@{/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>

    <!-- Select2 JS -->
    <script th:src="@{/vendor/select2/js/select2.min.js}"></script>

    <!-- Color Picker JS -->
    <script th:src="@{/vendor/@simonwep/pickr/pickr.es5.min.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/todo.js}"></script>
    <script th:src="@{/assets/js/theme-colorpicker.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
</th:block>
