<div class="sidebar" id="sidebar" th:fragment="sidebar">
    <!-- Logo -->
    <div class="sidebar-logo">
        <a th:href="@{/index.html}" class="logo logo-normal">
            <img th:src="@{/assets/img/logo.svg}" alt="Logo">
        </a>
        <a th:href="@{/index.html}" class="logo-small">
            <img th:src="@{/assets/img/logo-small.svg}" alt="Logo">
        </a>
        <a th:href="@{/index.html}" class="dark-logo">
            <img th:src="@{/assets/img/logo-white.svg}" alt="Logo">
        </a>
    </div>
    <!-- /Logo -->
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a th:href="@{/index.html}" class="active">Admin Dashboard1</a></li>
                        <li><a th:href="@{/employee-dashboard.html}">Employee Dashboard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a th:href="@{/chat.html}">Chat</a></li>
                        <li class="submenu">
                            <a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a th:href="@{/voice-call.html}">Voice Call</a></li>
                                <li><a th:href="@{/video-call.html}">Video Call</a></li>
                                <li><a th:href="@{/outgoing-call.html}">Outgoing Call</a></li>
                                <li><a th:href="@{/incoming-call.html}">Incoming Call</a></li>
                                <li><a th:href="@{/call-history.html}">Call History</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/calendar.html}">Calendar</a></li>
                        <li><a th:href="@{/contacts.html}">Contacts</a></li>
                        <li><a th:href="@{/inbox.html}">Email</a></li>
                        <li><a th:href="@{/file-manager.html}">File Manager</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
